.flat-info-card {
  .card-title.flat-title {
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    > h5 {
      margin: 0;
    }

    .address {
      font-weight: normal;
      color: gray;
      flex: 1 0 auto;
      text-align: end;
    }
  }

  .flat-info {
    min-width: 420px;
    max-width: 700px;


  }
}


