.flat-info {
  .flat-title {
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    .address {
      font-weight: normal;
      color: gray;
      flex: 1 0 auto;
      text-align: end;
    }
  }

  .owner-name {
    color: #0958d9;
  }

  .accesses {
    margin-top: 1em;
    .access-info {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &.empty {
      padding: 8px 16px;
      color: rgba(20, 20, 20, 0.85);
    }


    .areas {


    }
  }


}

