.payments {
	.ant-table {
		td {
			&.date,
			&.fromInn,
			&.toInn{
				width: 150px;
			}

			&.incomingSum {
				min-width: 110px;
				text-align: end;
			}

			&.purpose {
				max-width: 800px;
				min-width: 500px;
			}

			&.date {
				.time {
					color: #185dbd;
				}
			}
		}
	}
}
