.gates.view {
	.ant-tabs {
		.ant-tabs-nav-list {
			.ant-tabs-tab {
				padding: 6px 0;
			}
		}
	}

	.filter-form {
		.filter-fields {
			.filter-field {
              .ant-select,
              .ant-picker {
                width: 100%;
              }

              //
              //&.gateId {
              //	.ant-select {
              //		width: 150px;
              //	}
              //}
              //
              //&.method {
              //	.ant-select {
              //		width: 170px;
              //	}
              //}
              //
              //
              //.ant-picker {
              //	width: 130px;
              //}

              &.gateId {
                .ant-select-selection-item {
                  font-size: 16px;
                  color: #eb2f96;
                }
              }
            }
		}
	}
}
