.admin-roles {
  .roles-content {
    .phones-and-buildings {

      margin-top: 1em;
      display: flex;
      gap: 2em;
      align-items: flex-start;

      .subheader {
        font-weight: 500;
        margin: 8px 0 4px;
      }

      .ant-card {
        .ant-card-body {
          min-height: 500px;
          //min-width: 500px;

          //.buildings-container {
          //  display: flex;
          //  align-items: flex-start;
          //  gap: 1em;
          //}
        }

        &.buildings {
          .ant-card-body {
            display: flex;
            align-items: flex-start;
            gap: 1em;

            .selected-rooms {
              width: 250px;
            }

            .room-selector {
              min-width: 500px;
            }

            .ant-tabs {
              .ant-tabs-tabpane {
                //text-align: center;
              }
            }

          }
        }
      }

      .phones {
        width: 300px;
      }

      .buildings {

      }
    }
  }
}
