@import 'colors.scss';

$cardWidth: 460px;

.flat-info-card.ant-card {
  width: $cardWidth;
  min-width: $cardWidth;

  max-width: 700px;

  .card-title.flat-title {
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    > h5 {
      margin: 0;
    }

    .address {
      font-weight: normal;
      color: gray;
      flex: 1 0 auto;
      text-align: end;
    }
  }

  .ant-card-body {
    padding: 6px 8px;
  }

  .flat-accesses {
    padding-top: 2em;

    .access-header {
      display: flex;
      gap: 1em;
      align-items: center;

      h5 {
        margin: 0;
      }

      .ant-btn-link.add-btn {
        @include linkButtonStyle();
        padding: 0;
        height: 22px;
        line-height: 22px;

        .anticon {
          font-size: 12px;
        }
      }
    }
  }

}


