@import 'colors.scss';

.access-add-form {
  h5 {
    margin-top: 18px;
    margin-bottom: 6px;

    &:first-child {
      margin-top: 4px;
    }
  }

  .sub-header {
    font-size: 15px;
    color: $antd-blue-active;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  .ant-checkbox-group {
    .ant-checkbox-wrapper {
      span.icon {
        margin-left: 4px;

        .anticon.icon-playground {
          font-size: 16px;
          color: rgb(88, 158, 116);
        }

        .anticon.parking-icon {
          color: rgb(119, 106, 195);
          //color: rgb(116, 113, 132);
        }
      }
    }
  }



  .ant-btn-link.add-btn {
    @include linkButtonStyle();
    margin: 0 6px;
  }
}

