.buildings {
  .ant-list {
    width: 400px;

    .building {
      padding: 2px 4px;

      .ant-btn-link {
        &:not(:disabled) {
          color: rgba(0, 0, 0, 0.88);

          &:hover {
            color: #69b1ff;
          }

          &:active {
            color: #0958d9;
          }
        }
      }

      //display: flex;
      //align-items: center;
      //gap: 1em;
    }
  }
}
