@import '../../../../../../colors';

$gray: #727272;
$grayDark: rgba(0, 0, 0, 0.88);

.access-item {
  padding: 2px 6px;
  display: flex;
  align-items: center;
  gap: 1em;

  &:first-child {
    margin-top: 1.5em;
  }

  &:not(:last-child) {
    padding-bottom: 6px;
    margin-bottom: 8px;
    border-bottom: 1px dashed rgba(220, 220, 220, 0.8);
  }

  .access-info {
    flex: 1 0 auto;

    .phone-and-areas {
      display: flex;
      align-items: flex-start;
      gap: 0.5em;
      margin-bottom: 4px;

      .area-icons {
        flex: 1 0 auto;
        display: inline-flex;
        align-items: flex-start;

        gap: 1.5em;

        .access-icon {
          line-height: 21px;
          position: relative;
          display: flex;
          align-items: center;
          gap: 4px;

          .tenant-icon {
            position: absolute;
            left: 12px;
            top: -10px;
            //color: orange;

            .anticon {
              svg {
                color: rgba(249, 130, 17, 0.7);
              }
            }


          }

          .anticon {
            font-size: 16px;

            &.icon-playground {
              color: rgb(88, 158, 116);
              font-size: 20px;
            }

            &.parking-icon {
              color: rgb(119, 106, 195);
            }

            &.rent-icon {
              color: $orange;
            }


          }

          .places {
            font-size: 13px;
            line-height: 14px;
            color: rgba(60, 60, 60, 0.8);
          }
        }

      }
    }

    .phone-number {
      font-size: 16px;
      line-height: 16px;
      //color: $antd-blue-active;
      font-weight: 500;
      position: relative;
      width: 158px;

      &.tenant {
        color: #c86405;
        font-weight: normal;
      }

      //.rent-icon {
      //  position: absolute;
      //  right: 0;
      //  top:0;
      //  color: red;
      //}
    }

    .phone-label {
      //padding-top: 2px;
      color: gray;
      line-height: 14px;

      &.has-label {
        color: $grayDark;
      }
    }

    .access-areas {
      margin: 2px 0;

    }

    .cars {
      margin-top: 4px;

      .car {
        display: flex;
        align-items: center;

        .car-icon {

          font-size: 18px;

          > svg {
            fill: $gray;
          }
        }

        .car-number {
          margin-left: 4px;
          color: $gray;
        }

        .car-description {
          color: gray;
          margin-left: 8px;
          font-style: italic;
        }
      }
    }
  }

  .access-actions {
    width: 60px;
    text-align: end;

    .ant-btn {
      @include rowActionButtonStyle(#b5b5b5);
      padding: 0 2px;

      &:not(:last-child) {
        margin-right: 0.5em;
      }

      //&:not(:focus),
    }
  }


}

