
.App {
  height: 100vh;

  .ant-layout {
    height: 100%;

    .ant-layout-content {
      padding: 10px;
      overflow-y: auto;
    }

    .ant-layout-header {
      color: white;
      font-size: 18px;
    }
  }
}

.ant-modal.ant-modal-confirm.ant-modal-confirm-info.modal-no-btns {
  .ant-modal-content {
    padding: 8px 12px;
    padding-bottom: 12px;
    .ant-modal-body {
      .ant-modal-confirm-body {
        .anticon.anticon-info-circle {
          display: none;
        }

        .ant-modal-confirm-title {
          flex: 0 0 100%;
        }

        .ant-modal-confirm-content {
          margin-inline-start: 4px;
          min-height: 90px;
          max-width: 100%;

          .buttons {
            margin-top: 1.5em;
            text-align: end;

            .ant-btn {
              text-align: center;

              &:not(:last-child) {
                margin-right: 1em;
              }
            }
          }
        }
      }

      .ant-modal-confirm-btns {
        display: none;
      }
    }

  }
}
