.App {
  height: 100vh;

  .ant-layout {
    height: 100%;

    .ant-layout-content {
      padding: 10px;
      overflow-y: auto;
    }

    .ant-layout-header {
      color: white;
      font-size: 18px;
    }
  }
}

.ant-modal.ant-modal-confirm.ant-modal-confirm-info.modal-no-btns {
  .ant-modal-content {
    .ant-modal-body {
      .ant-modal-confirm-body {
        .anticon.anticon-info-circle {
          display: none;
        }

        .ant-modal-confirm-title {
          flex: 0 0 100%;
        }

        .ant-modal-confirm-content {
          margin-inline-start: 12px;
          min-height: 120px;

          //.reason_form {
          //}
        }
      }

      .ant-modal-confirm-btns {
        display: none;
      }
    }

  }
}
