.ant-popover {
  .car-logs {
    min-width: 320px;
    min-height: 48px;

    .field {
      white-space: nowrap;

      .label {
        font-weight: 500;
        margin-right: 6px;
      }

      &:not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
  }

}
