.filter_form {
	padding: 4px;
	border: 1px solid rgb(240, 240, 240);
	border-radius: 2px;
	background-color: rgb(250, 250, 250);

	margin-bottom: 20px;
	display: flex;
	width: 100%;
	align-items: flex-end;
	gap: 1em;


	:global(.filter-fields) {
		display: flex;
		align-items: flex-end;
		gap: 1em;
	}

	:global(.buttons) {
		display: flex;
		align-items: flex-start;
		margin-top: 10px;
		margin-left: 20px;

		:global(.ant-btn:not(:last-child)) {
			margin-right: 10px;
		}

		.export_btn {
			margin-left: 20px;
			//background-color: rgb(22, 156, 127);
			background-color: #7361d3;

			&:hover,
			&:focus {
				background-color: rgb(128, 108, 255);
			}
		}
	}

	.search_icon {
		font-size: 22px;
		padding-top: 10px;
	}

	.field {
		:global(.ant-select),
		:global(.ant-input) {
			width: 100%;
		}
	}


	.field {
		.field_label {
			line-height: 16px;
		}
	}

	.extra_controls {
		padding-left: 20px;
	}

	:global(.ant-upload-list-text-container) {
		:global(.ant-upload-list-item) {
			margin-top: 0;
		}
	}
}
