@import 'colors.scss';

.flat-accesses {
  padding-top: 2em;

  .access-header {
    display: flex;
    gap: 1em;
    align-items: center;

    h5 {
      margin: 0;
    }

    .ant-btn-link.add-btn {
      @include linkButtonStyle();
      padding: 0;
      height: 22px;
      line-height: 22px;

      .anticon {
        font-size: 12px;
      }
    }
  }
}

