@import 'colors.scss';

.phone-item {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  gap: 1em;

  .ant-input-affix-wrapper {
    width: 190px;
  }


  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &.is-edit {
    .phone-number {
      width: 150px;
      min-width: 150px;

      > .ant-typography {
        font-weight: 500;
      }

    }
  }
}

