@import 'colors.scss';

.phone-item {
  padding-top: 4px;

  .access-main-info {
    padding: 2px 4px;
    display: inline-flex;
    align-items: center;
    gap: 1em;


    .ant-input-affix-wrapper {
      width: 190px;
    }

    .ant-input.access-label {
      width: 280px;
    }


    &:not(:last-child) {
      margin-bottom: 0.5em;
    }

  }

  .cars {
    display: inline-flex;
    align-items: flex-end;

    width: 346px;
    min-width: 346px;
  }


  &.is-edit {
    .phone-number {
      width: 150px;
      min-width: 150px;

      > .ant-typography {
        font-weight: 500;
      }

    }
  }

  &:not(:last-child) {
    border-bottom: 1px dashed rgba(200, 200, 200, 0.6);
  }
}

